/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

* {
  font-family: "PT Sans Narrow", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
